.sign-in {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: .75 0 300px;

}

.form-btn-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}