$grid-2-1-bp: 770px; // breakpoint for switching 2 col layout to 1

.homepage {
    padding: 0 var(--page-x-padding);
    & > section {
        margin: var(--section-y-margin) 0;
    }

    &_banner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        @media screen and (max-width: $grid-2-1-bp) {
            grid-template-columns: 1fr;
        }
        &_photo {
            max-width: 100%;
        }
        &_msg {
            align-self: center;
            padding: 2rem;
            @media screen and (max-width: $grid-2-1-bp) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &_title {
            }
            &_details {
                font-size: var(--base-font-size);
                color: var(--color-text-onwhite);
                margin-bottom: 2rem;
            }
            &_btn {
                background: none;
                border: none;
                font-weight: bold;
                font-style: italic;
                text-decoration: underline;
                padding: 1rem;
                transition: all 0.25s ease;
                cursor: pointer;
                &:hover {
                    background: var(--color-primary--light);
                    color: white;
                }
            }
        }
    }
}
