.custom-button {
  min-width: 165px;
  width: 100%;
  height: 4rem;
  margin-top: 2.7rem;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  &.inverse {
    background-color: white;
    color: black;
  }
  &.opaque {
    background: rgba($color: #000000, $alpha: .6)
  }
  &:hover {
    // background-color: white;
    background-color: var(--color-primary--light);
    color: white;
  border: 2px solid var(--color-primary--light);
  }
}