.directory-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    // width: 80%;
    width: 100%;
    margin-left: auto;

    margin-right: auto;
    @media screen and (max-width: 700px) {
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    &_item {
    }
}

@media screen and (max-width: 500px) {
}
@media screen and (min-width: 950px) {
}
@media screen and (min-width: 1200px) {
}
