$small-dev-width: 500px;
$burger-appears: 1000px;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
   
    &_title {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        cursor: pointer;
        @media screen and (min-width: $small-dev-width) {
            order: 1;
            font-size: 2rem;
        }
    }
    &_profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: var(--base-font-size);
        color: var(--color-text-onwhite);

        & > * {
            padding: 2rem;
            @media screen and (max-width: $small-dev-width) {
                padding: 1rem;
            }
        }
        @media screen and (min-width: $small-dev-width) {
            order: 3;
        }

        &_cart {
        }
        &_signin-link {
            text-decoration: none;
            cursor: pointer;
        }
    }
    &_searchfield {
        order: 2;
        @media screen and (max-width: $burger-appears) {
            display: none;
        }
    }
    &_burger {
        @media screen and (min-width: $small-dev-width) {
            order: 1;
        }
    }
    &_links {
        display: flex;
        justify-content: space-around;
        width: 100%;
        list-style: none;
        border: 2px solid var(--color-grey--light);
        &_link {
            padding: 1rem;
            font-size: var(--base-font-size);
            text-decoration: none;
        }

        @media screen and (max-width: $burger-appears) {
            display: none;
        }
    }
}

.nav-icons-provider {
    font-size: 3rem;
    @media screen and (max-width: $small-dev-width) {
        font-size: 2rem;
    }

    @media screen and (min-width: $burger-appears) {
        display: none;
    }
}
