* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;

    /* navy */
    --color-primary: rgb(0, 39, 76); 
    --color-primary--light: rgb(3, 89, 170);
    /* red */
    --color-secondary: rgb(179, 8, 56);
    /* yellow */
    --color-tertiary: rgb(238, 178, 17);

    --color-green: rgb(0, 112, 74);
    --color-black: black;

    --color-grey: rgb(221, 221, 221);
    --color-grey--light: rgb(243, 243, 243);

    --color-text-onblack: whitesmoke;
    --color-text-onwhite: rgb(68, 68, 68);

    --side-margin: 2rem;

    --base-font-size: 1.4rem;
    --h3-font-size: 2.5rem;

    --page-x-padding: 3rem;
    --section-y-margin: 3rem;

    --burger-appears: 1000px;
}

/* --------- breakpoints ----------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    :root {
        --base-font-size: 1.2rem;
        --h3-font-size: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

body {
    /* margin: 0;
    padding: 0; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 400;
    margin-bottom: 1rem;
}
